@{
    ViewData["Title"] = "Learning";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">MVC Aps.Net Core</a>.</p>
</div>
